.cocktail {
    border-radius: var(--default-border-radius);
    box-shadow: #666 0 0 5px;
    height: var(--publication-height);
    overflow: hidden;
    position: relative;
    width: var(--publication-width);
    flex: 0 0 auto;
}

.cocktail:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.icone-cocktail {
    position: absolute;
    height: 1em;
    font-size: 2em;
}

.compteur-jaime {
    font-size: 26px;
    text-shadow: 0 0 2px var(--palette-background-color);
}

.illustration-cocktail {
    filter: grayscale(25%);
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.cocktail:hover .illustration-cocktail {
    filter: none;
}

.mentions-jaime {
    top: 0;
    right: 5px;
    display: flex;
    gap: 5px;
}

.pastille-alcool {
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-pastille-alcool {
    height: 100%;
}

.icone-saveur {
    bottom: 0;
    right: 0;
}

.nom-cocktail {
    background-color: rgb(0 0 0 / 40%);
    bottom: 0;
    font-weight: 700;
    left: 0;
    line-height: 2em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.ingredient-manquant {
    background-color: rgb(0 0 0 / 70%);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1% 2%;
    border-radius: 10px;
    display: none;
}

.infobulle-cocktail {
    position: absolute;
    top: -1.5em;
    opacity: 0;
    background-color: var(--palette-background-color);
    border-radius: var(--default-border-radius);
    padding: 2px .5em;
    font-size: 20px;
    text-wrap: nowrap;
}

.pastille-alcool:hover .infobulle-cocktail {
    opacity: 1;
}

@media screen and (width<=850px) {
    .cocktail {
        height: var(--publication-height-small);
        width: var(--publication-width-small);
    }
}
