:root {
    --multiplicateur-styles: 3;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: var(--authentification-area-height);
    width: var(--authentification-area-width);
    display: flex;
    border-radius: calc(var(--default-border-radius) * var(--multiplicateur-styles));
    overflow: hidden;
    color: var(--palette-lighttext-color);
}

h1 {
    text-shadow: var(--neon-text-pink);
    color: black;
}

main h1 {
    text-align: center;
    font-size: clamp(2em, 3vw, 3vw);
}

input:focus {
    box-shadow: var(--blue-neon-box-light);
}

#logo-cocktail-wizard {
    object-fit: cover;
    width: 50%;
}

#form-connexion {
    gap: calc(var(--default-gap) / var(--multiplicateur-styles));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-background-secondary-color);
    width: 100%;
    height: 100%;
}

#form-connexion>input {
    padding: 0.625rem;
    border: none;
    border-radius: var(--default-border-radius);
    width: 18.75rem;
}

#form-connexion>button {
    padding: 0.9375rem;
    font-size: 1.25rem;
    background-color: var(--palette-background-secondary-color);
    color: var(--palette-lighttext-color);
    border: 2px solid var(--palette-button-border-color);
    border-radius: var(--default-border-radius);
    width: 13.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form-connexion>button:hover {
    box-shadow: var(--orange-neon-box);
    text-shadow: var(--neon-text-pink);
    background-color: var(--palette-background-color);
}

@media screen and (width<=850px) {
    #logo-cocktail-wizard {
        width: 100%;
        height: 25%;
    }

    main {
        border-radius: 0;
        width: 100%;
        height: 80%;
        flex-direction: column;
    }

    main img {
        object-position: center 25%;
    }

    #form-connexion {
        justify-content: space-evenly;
    }
}
