:root {
    --multiplicateur-styles: 3;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: var(--authentification-area-height);
    width: var(--authentification-area-width);
    display: flex;
    border-radius: calc(var(--default-border-radius) * var(--multiplicateur-styles));
    overflow: hidden;
}

main h1 {
    text-align: center;
    font-size: clamp(2em, 3vw, 3vw);
}

#logo-cocktail-wizard {
    object-fit: cover;
    width: 50%;
}

#form-connexion {
    gap: calc(var(--default-gap) / var(--multiplicateur-styles));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-secondary-background-color);
    width: 100%;
    height: 100%;
}

#form-connexion>input {
    padding: 0.625rem;
    border: none;
    border-radius: var(--default-border-radius);
    width: 18.75rem;
}

#form-connexion>button {
    padding: 0.9375rem;
    font-size: 1.25rem;
    background-color: var(--palette-button-color);
    color: var(--palette-button-text-color);
    border: none;
    border-radius: var(--default-border-radius);
    width: 13.75rem;
}

@media screen and (width<=850px) {
    #logo-cocktail-wizard {
        width: 100%;
        height: 25%;
    }

    main {
        border-radius: 0;
        width: 100%;
        height: 80%;
        flex-direction: column;
    }

    main img {
        object-position: center 25%;
    }

    #form-connexion {
        justify-content: space-evenly;
    }
}
