:root {
    --publication-width: 300px;
    --publication-height: calc(var(--publication-width) * 4 / 3);
    --publication-width-small: calc(var(--publication-width) / 2.13);
    --publication-height-small: calc(var(--publication-height) / 2.13);
}

body,
main {
    display: flex;
    flex-direction: column;
}

main {
    gap: var(--default-gap);
    margin: var(--default-gap) 0;
}

body>header {
    background: radial-gradient(transparent, black), url("../images/sparkles.png") no-repeat center 25% / cover;
    font-size: 4vw;
    height: 50vh;
    text-shadow: 0 0 15px var(--palette-headline-color);
    align-items: center;
    display: flex;
    justify-content: center;
}

header h1 {
    background-color: rgb(0 0 0 / 10%);
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 20px;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

#deux-boutons {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#deux-boutons button {
    border: none;
    background-color: var(--palette-button-color);
    border-radius: 50%;
    opacity: 0.4;
    width: 50px;
    height: 50px;
}

#deux-boutons button:hover {
    opacity: 1;
}

#deux-boutons button img {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
}

#deux-boutons button:focus {
    outline: none;
}

aside#contenant-boutons-fixes>* {
    position: absolute;
    right: var(--space-from-corner);
    top: var(--space-from-corner);
}

aside#contenant-boutons-fixes a {
    height: 4em;
    position: absolute;
    right: var(--space-from-corner);
    top: var(--space-from-corner);
    width: 4em;
    border-radius: var(--default-border-radius);
}

aside#contenant-boutons-fixes a img {
    filter: drop-shadow(0 0 5px black);
    width: 100%;
    height: 100%;
}

.cocktail:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#barre-recherche {
    background-image: url("../images/icone-loupe.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
    color: var(--palette-button-text-color);
    font-size: x-large;
    opacity: 0.8;
    outline: none;
    padding: 10px 0 10px 50px;
    width: clamp(200px, calc(var(--publication-width) * 1.85), 75%);
}

#ordre-tri {
    border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
    border: 0;
    font-size: x-large;
}

#barre-recherche:focus {
    box-shadow: #000 0 0 10px;
    opacity: 1;
}

#galerie {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap);
    justify-content: center;
    margin: auto;
    width: 80%;
}

@media screen and (width<=850px) {
    #galerie {
        gap: calc(var(--default-gap) / 2);
        width: 85%;
    }
}
