:root {
    --publication-width: 300px;
    --publication-height: calc(var(--publication-width * 4 / 3));
}

body {
    background: linear-gradient(to right, black, var(--palette-background-color), black);
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    height: 2em;
}

header {
    background: radial-gradient(transparent, black), url(../images/sparkles.png) no-repeat center 25% / cover;
    font-size: 4vw;
    height: 50vh;
    text-shadow: 0 0 15px var(--palette-headline-color);
}

header h1 {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    padding: 1em;
    text-align: center;
}

header,
footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.cocktail:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#barre-recherche {
    background-image: url(../images/icone-loupe.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: var(--default-border-radius);
    box-shadow: #666 0 0 10px;
    color: var(--palette-button-text-color);
    font-size: x-large;
    opacity: 0.8;
    outline: none;
    padding: 10px 0 10px 50px;
    width: var(--publication-width);
}

#barre-recherche:focus {
    box-shadow: #000 0 0 10px;
    opacity: 1;
}

#galerie {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap);
    justify-content: center;
    margin: auto;
    width: 80%;
}
