html {
    background-color: var(--palette-background-color);
}

#conteneur-inscription {
    display: flex;
    justify-content: center;
    align-items: center
}

#inscription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    width: 68.75rem;
    height: 40.625rem;
    background-color: var(--palette-secondary-background-color);
    border-radius: 50px;
}

#inscription>h1 {
    grid-area: 1 / 1 / 2/ 3;
    font-family: 'merriweather', 'serif';
    text-align: center;
}

#form-inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-area: 2 / 1 / 4 / 2;
}

#form-inscription>input {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border: none;
    border-radius: var(--default-border-radius);
    width: 18.75rem;
}

#form-inscription>button {
    margin-top: 0.625rem;
    padding: 0.9375rem;
    font-size: 1.25rem;
    background-color: var(--palette-button-color);
    color: var(--palette-button-text-color);
    border: none;
    border-radius: var(--default-border-radius);
    width: 13.75rem;
}

#image-inscription {
    display: flex;
    justify-content: center;
    align-items: center;
}

#LogoCW-inscription {
    border-radius: 50px;
    width: 20rem;
    height: 20rem;
    margin-left: 20%;
}

#messErreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
