@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
    --default-gap: 3em;
    --default-border-radius: 8px;
    --authentification-area-width: 60%;
    --authentification-area-height: 60%;
    --palette-background-color: #16161a;
    --palette-headline-color: #fffffe;
    --palette-paragraph-color: #fffffe;
    --palette-button-color: #7f5af0;
    --palette-button-text-color: #232946;
    --palette-button-color-hover: #2cb67d;
    --palette-border-color: #010101;
    --palette-secondary-background-color: #94a1b2;
    --palette-secondary-text-color: #010101;
    --media-screen-max-width: 850px;
    --space-from-corner: .5em;
}

* {
    margin: 0;
    font-family: "Prata", serif;
    user-select: none;
    transition-duration: 1s;
    color: var(--palette-paragraph-color);
}

button {
    background-color: var(--palette-button-color);
    color: var(--palette-button-text-color);
}

html {
    background-color: var(--palette-background-color);
}

h1 {
    color: var(--palette-headline-color);
}

img {
    pointer-events: none;
}

input {
    color: var(--palette-secondary-text-color);
}

.erreur * {
    color: red;
    display: flex;
    justify-content: center;
}

body>footer {
    background-color: rgb(0, 0, 0 / 0.1);
    height: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
}

*:disabled {
    cursor: not-allowed;
}
