@font-face {
    font-family: 'Elianto';
    src: url('../styles/Elianto/Elianto/Elianto-Regular.ttf') format('truetype');
}

:root {
    --default-gap: 3em;
    --default-border-radius: 8px;
    --authentification-area-width: 60%;
    --authentification-area-height: 60%;
    /* --palette-background-color: #16161a;
    --palette-headline-color: #fffffe;
    --palette-paragraph-color: #fffffe;
    --palette-button-color: #7f5af0;
    --palette-button-text-color: #232946;
    --palette-button-color-hover: #2cb67d;
    --palette-border-color: #010101;
    --palette-secondary-background-color: #94a1b2;
    --palette-secondary-text-color: #010101; */
    --media-screen-max-width: 850px;
    --space-from-corner: .5em;

    /* PALETTE DE COULEUR RETRO (POSIBLEMENT SECONDAIRE)*/
    --palette-background-color: #02060c;
    --palette-background-secondary-color: #091426;
    --palette-modal-background-color: #091426;
    --palette-modal-background-secondary-color: #0d1c35;

    --palette-darktext-color: #711c91;
    --palette-lighttext-color: #ea00d9;

    --palette-button-color: #ff7931;
    --palette-button-border-color: #ff5c05;
    --palette-button-hover-color: #ff7931;

    --palette-border-color: #17dfea;

    --orange-neon-box:
        0 0 2px #ff5c05,
        0 0 3px #ff5c05,
        0 0 5px #ff5c05,
        0 0 8px #ff5c05,
        0 0 13px #e85505,
        0 0 15px #e85505,
        0 0 18px #c54b0a,
        0 0 25px #c54b0a;


}

* {
    margin: 0;
    font-family: 'Elianto', sans-serif;
    user-select: none;
    transition-duration: 1s;
    color: var(--palette-paragraph-color);
}

button {
    background-color: var(--palette-button-color);
    color: var(--palette-button-text-color);
}

body {
    background-color: var(--palette-background-color);
}

h1 {
    color: var(--palette-headline-color);
}

img {
    pointer-events: none;
}

input {
    color: var(--palette-lighttext-color);
}

.erreur * {
    color: red;
    display: flex;
    justify-content: center;
}

body>footer {
    background-color: rgb(0 0 0 / 10%);
    height: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
}

*:disabled {
    cursor: not-allowed;
}

.neon-blue-high {
    box-shadow:
        0 0 3px #17dfea,
        0 0 5px #17dfea,
        0 0 10px #17dfea,
        0 0 15px #17dfea,
        0 0 25px #1acbd5,
        0 0 30px #1acbd5,
        0 0 35px #25adb4,
        0 0 50px #25adb4;
}

.neon-blue-low {
    box-shadow:
        0 0 2px #17dfea,
        0 0 3px #17dfea,
        0 0 5px #17dfea,
        0 0 8px #17dfea,
        0 0 13px #1acbd5,
        0 0 15px #1acbd5,
        0 0 18px #25adb4,
        0 0 25px #25adb4;
}

.neon-orange-low {
    box-shadow:
        0 0 2px #ff5c05,
        0 0 3px #ff5c05,
        0 0 5px #ff5c05,
        0 0 8px #ff5c05,
        0 0 13px #e85505,
        0 0 15px #e85505,
        0 0 18px #c54b0a,
        0 0 25px #c54b0a;
}

.neonText-pink {
    text-shadow:
        0 0 7px #ea00d9,
        0 0 10px #ea00d9,
        0 0 21px #ea00d9,
        0 0 42px #ea00d9,
        0 0 82px #d60bc8,
        0 0 92px #d60bc8,
        0 0 102px #ad12a2,
        0 0 151px #ad12a2;
}

.neonText-pink-smol {
    text-shadow: 0 0 1px #ea00d9,
        0 0 2px #ea00d9,
        0 0 3px #d60bc8,
        0 0 5px #ad12a2;
}
