:root {
    --modal-width: clamp(50%, 500px, 75%);
    --modal-height: clamp(50%, 600px, 75%);
    --modal-content-min-width: 270px;
}

#bouton-supprimer {
    display: none;
}

#contenant-modale {
    display: none;
    position: fixed;
    z-index: 1060;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

#modale {
    width: var(--modal-width);
    height: var(--modal-height);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--palette-background-secondary-color);
    padding: 1em;
    border-radius: var(--default-border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
    color: var(--palette-lighttext-color);
}

#fermer {
    position: fixed;
    top: var(--space-from-corner);
    right: var(--space-from-corner);
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1em;
    color: var(--palette-secondary-text-color);
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

#fermer:hover,
#fermer:focus {
    filter: invert(100%);
    text-decoration: none;
    cursor: pointer;
}

#recette {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

#recette>* {
    font-size: large;
}

#presentation {
    width: 40%;
    height: 100%;
}

#illustration {
    width: 100%;
    height: 85%;
    border-radius: var(--default-border-radius);
    object-fit: cover;
}

#communaute {
    display: flex;
    justify-content: space-between;
}

#ingredients {
    width: clamp(var(--modal-content-min-width), 40%, 50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#liste-ingredients {
    overflow-y: auto;
}

#liste-ingredients::-webkit-scrollbar {
    width: 1px;
}

#affichage-jaime {
    display: flex;
    gap: 5px;
}

#affichage-jaime img {
    height: 28px;
    width: 28px;
}

#commenter>form {
    border-radius: var(--default-border-radius);
    overflow: hidden;
    background-color: rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
}

#commenter>form>textarea {
    resize: none;
    height: 100px;
    color: var(--palette-color-cocktail-card);
    background-color: var(--palette-background-secondary-color);
}

#commenter>form>textarea:focus {
    box-shadow: var(--blue-neon-box-high);
}

#commenter>form button {
    align-self: flex-end;
    padding: .5em;
    background-color: var(--palette-background-color);
    color: var(--palette-lighttext-color);
    border: 2px solid var(--palette-button-border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#commenter>form button:hover {
    filter: drop-shadow(0 0 25px var(--palette-button-border-color));
    text-shadow: var(--neon-text-pink);
}

#commenter #soumettre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#commenter #soumettre #auteur-commentaire {
    font-weight: bold;
}

#commentaires {
    display: flex;
    gap: calc(var(--default-gap) / 2);
    flex-direction: column;
    padding-left: var(--default-gap);
}

#commentaires header {
    display: flex;
    gap: calc(var(--default-gap) / 2);
}

#commentaires .date {
    color: var(--palette-lighttext-color);
    font-style: italic;
}

ul#ingredients {
    list-style-type: none;
    text-align: left;
    padding: 0;
    color: var(--palette-color-cocktail-card);
}

ul#ingredients li {
    display: flex;
    column-gap: .5em;
    width: 100%;
}

@media screen and (width<=850px) {
    #presentation {
        width: 100%;
    }
}

#description,
#preparation {
    border: 2px solid var(--palette-border-color);
    border-radius: 5px;
    padding: 5px;
    color: var(--palette-color-cocktail-card);
}

#description:hover,
#preparation:hover {
    box-shadow: var(--blue-neon-box-high);
}

#titre-cocktail {
    font-size: 4vh;
}

.commentaire {
    border: 2px solid var(--palette-border-color);
    border-radius: 5px;
    padding: 1em;
}
