:root {
    --modal-width: clamp(50%, 500px, 75%);
    --modal-height: clamp(50%, 600px, 75%);
    --modal-content-min-width: 270px;
}

#contenant-modale {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

#modale {
    width: var(--modal-width);
    height: var(--modal-height);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--palette-secondary-background-color);
    padding: 1em;
    border-radius: var(--default-border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

#fermer {
    position: fixed;
    top: var(--space-from-corner);
    right: var(--space-from-corner);
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1em;
    color: var(--palette-secondary-text-color);
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

#fermer:hover,
#fermer:focus {
    filter: invert(100%);
    text-decoration: none;
    cursor: pointer;
}

#recette {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

#recette>* {
    font-size: large;
}

#presentation {
    width: 40%;
    height: 100%;
}

#illustration {
    width: 100%;
    height: 85%;
    border-radius: var(--default-border-radius);
    object-fit: cover;
}

#communaute {
    display: flex;
    justify-content: space-between;
}

#ingredients {
    width: clamp(var(--modal-content-min-width), 40%, 50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#liste-ingredients {
    overflow-y: auto;
}

#liste-ingredients::-webkit-scrollbar {
    width: 1px;
}

#affichage-jaime {
    display: flex;
    gap: 5px;
}

#affichage-jaime img {
    height: 28px;
    width: 28px;
}

#commenter>form {
    border-radius: var(--default-border-radius);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

#commenter>form>textarea {
    resize: none;
    height: 100px;
    color: var(--palette-secondary-text-color);
}

#commenter>form>button {
    align-self: flex-end;
    border: none;
    padding: .5em;
    font-size: large;
    border-radius: var(--default-border-radius);
}

#commentaires {
    display: flex;
    gap: calc(var(--default-gap) / 2);
    flex-direction: column;
    padding-left: var(--default-gap);
}

.commentaire {
    border-radius: var(--default-border-radius);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1em;
}

#commentaires header {
    display: flex;
    gap: calc(var(--default-gap) / 2);
}

#commentaires .date {
    color: rgba(0, 0, 0, 0.25);
    font-style: italic;
}

ul#ingredients {
    list-style-type: none;
    text-align: left;
    padding: 0;
    display: flex;
    gap: 1em;
}

@media screen and (max-width: 850px) {
    #presentation {
        width: 100%;
    }
}
