:root {
    --publication-width: 250px;
    --publication-height: calc(var(--publication-width * 4 / 3));
}

/* General Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    background-color: #16161a;
}

header {
    font-size: 2vw;
}

header #w-icon {
    height: 4vw;
    vertical-align: -35%;
}

#main {
    margin: 0 10%;
}

/* Header Styles */
#top {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1vh;
    left: 3vh;
}

#backgroundshape {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7f5af0;
    background-image: linear-gradient(#7f5af0, #a48df0);
    border: 3px solid #010101;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #fffffe;
    cursor: pointer;
    z-index: -1;
    transform-origin: bottom left;
    transform: skewX(20deg);
}

.profile-pic-container {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 2px solid #010101;
    overflow: hidden;
    margin-left: 1vh;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    color: #fffffe;
    padding: 1vh 2vh;
    border-radius: 5px;
}

header h1 {
    width: 100%;
    padding: 1em;
    text-align: center;
    color: #fffffe;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.button {
    background-color: #7f5af0;
    background-image: linear-gradient(#7f5af0, #a48df0);
    border: 1px solid #6248b9;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #fffffe;
    cursor: pointer;
    font-size: 17px;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    touch-action: manipulation;
    display: inline-block;
}

.button:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
    color: #19337a;
}

.button:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.button:disabled:active {
    pointer-events: none;
}

.button:disabled:hover {
    box-shadow: none;
}

/* Ingredients Section Styles */
.ingredients {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: #010101, solid, 1px;
}

#searchBoxContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#searchBox {
    font-size: 15px;
    ;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    padding-left: 5px;
    background-color: #94a1b2;
    color: #010101;
}

#ingredientList {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #94a1b2;
    color: #010101;
    border: 1px solid #7f5af0;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    box-sizing: border-box;
    top: calc(100% + 5px);
    left: 0;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
    width: 310px;
}

.ingredient-item {
    padding: 5px 0;
    border-bottom: 1px solid #010101;
    color: #010101;
}

.ingredient-item:last-child {
    border-bottom: none;
}

.selectIngredient-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 5px solid #010101;
    background-color: #94a1b2;
    border-radius: 8px;
    margin-bottom: 10px;
}

.selected-ingredient {
    display: inline-block;
    padding: 10px;
    border: 2px solid #010101;
    border-radius: 20px;
    background-color: #7f5af0;
    color: #fffffe;
    margin: 5px;
    white-space: nowrap;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-image: radial-gradient(circle, 3, #7f5af0);
}

/* Body Styles */
.body {
    gap: var(--default-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section Styles */
.section {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-name {
    padding: 10px 20px;
    border: 5px solid #010101;
    border-radius: 8px;
    color: #fffffe;
    background-color: #7f5af0;
    font-size: 25px;
    font-weight: bold;
}

.line {
    border: none;
    border-top: 5px solid #010101;
    flex-grow: 1;
}

/* Footer Styles */
.twoBtn {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.twoBtn button {
    border: none;
    background-color: #7f5af0;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    width: 50px;
    height: 50px;
}

.twoBtn button:hover {
    opacity: 1;
}

.twoBtn button img {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
}

.twoBtn button:focus {
    outline: none;
}

/* Specific Styles */
hr {
    border: 1px solid white;
    /* margin: 10px 0; */
}

.clear-button {
    background-color: #7f5af0;
    background-image: linear-gradient(#7f5af0, #a48df0);
    border: 1px solid #010101;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.clear-button:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
    color: #19337a;
}

.galerie {
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-y: hidden;
    gap: var(--default-gap);
    justify-content: flex-start;
    margin: auto;
    border: 5px solid #010101;
    background-color: #94a1b2;
    border-radius: var(--default-border-radius);
}

.galerie::-webkit-scrollbar {
    display: none;
}

#btnHome,
#btnDeconnect {
    font-size: 1.5vw;
    padding: 0.5vh 1vw;
}
