@font-face {
    font-family: 'Elianto';
    src: url('../styles/Elianto/Elianto/Elianto-Regular.ttf') format('truetype');
}

:root {
    --publication-width: 250px;
    --publication-height: calc(var(--publication-width * 4 / 3));
}

/* General Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    background-color: var(--palette-background-color);
    color: var(--palette-lighttext-color);
    font-family: 'Elianto', sans-serif;
}

header #w-icon {
    height: 4vw;
    vertical-align: -35%;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: var(--neon-text-pink);
}

main {
    margin: 0 10%;
}

/* Header Styles */
#top {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    font-size: 4vw;
    ;
}

.user {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1vh;
    left: 1vh;
}

#profil-utilisateur {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0.5vh;
    display: flex;
    justify-content: center;
}

#profil-utilisateur:hover {
    box-shadow: var(--orange-neon-box);
}

.profile-pic {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin-left: 0;
}

header h1 {
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: 8vh;
    font-style: italic;
    text-shadow: var(--neon-text-pink);
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.button {
    background-image: linear-gradient(var(--pallette-button-color));
    border: 2px solid var(--palette-border-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    touch-action: manipulation;
    display: inline-block;
}

.button:hover {
    box-shadow: rgba(255 255 255 30%) 0 0 2px inset, rgb(0 0 0 / 40%) 0 1px 2px;
    text-decoration: none;
    color: var(--palette-button-text-color);
    background-color: var(--palette-button-color-hover);
}

.button:active {
    box-shadow: rgb(0 0 0 / 15%) 0 2px 4px inset, rgb(0 0 0 / 40%) 0 1px 1px;
}

/* Ingredients Section Styles */
.ingredients {
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    text-align: center;
    border: solid, 1px, var(--palette-border-color);
}

#contenant-boite-recherche {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#boite-recherche {
    font-size: 20px;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    padding-left: 5px;
    background-color: var(--palette-background-secondary-color);
    color: var(--palette-lighttext-color);
}

#boite-recherche:focus {
    box-shadow: var(--blue-neon-box-light)
}

#liste-ingredients {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--palette-background-secondary-color);
    color: var(--palette-darktext-color);
    border: 2px solid var(--palette-border-color);
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    box-sizing: border-box;
    top: calc(100% + 5px);
    left: 0;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
    width: 300px;
}

.ingredient-item {
    padding: 5px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--palette-button-border-color);
    color: var(--palette-lighttext-color);
    cursor: pointer;
}

.ingredient-item:hover {
    color: var(--palette-lighttext-color);
    background-color: var(--palette-button-color-hover);
    box-shadow: var(--orange-neon-box);

    text-shadow: var(--neon-text-pink)
}

.ingredient-item:last-child {
    border-bottom: none;
}

.boite-ingredients-selectionnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 3px solid var(--palette-border-color);
    background-color: var(--palette-background-secondary-color);
    border-radius: 8px;
}

.boite-ingredients-selectionnes:hover {
    box-shadow: var(--blue-neon-box-light);
}

/* Body Styles */
.body {
    gap: var(--default-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section Styles */
.section {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    border: none;
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-name {
    padding: 10px 20px;
    border: 3px solid var(--palette-border-color);
    border-radius: 8px;
    background-color: var(--palette-background-secondary-color);
    font-size: 30px;
    font-style: italic;
}

.line {
    border: none;
    border-top: 3px solid var(--palette-border-color);
    flex-grow: 1;
    opacity: 1;
}

/* Footer Styles */
#deux-boutons {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#deux-boutons button {
    border: none;
    background-color: var(--palette-button-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#deux-boutons button:hover {
    box-shadow: var(--orange-neon-box);
}

#deux-boutons button img {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
}

/* Specific Styles */
.galerie {
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-y: hidden;
    gap: var(--default-gap);
    justify-content: flex-start;
    margin: auto;
    background-color: var(--palette-background-color);
    border-radius: var(--default-border-radius);
}

.galerie::-webkit-scrollbar {
    display: none;
}

#bouton-galerie,
#bouton-deconnexion {
    font-size: 1.5vw;
    padding: 0.5vh 1vw;
    border: var(--palette-button-border-color);
    top: 1vh;
    right: 1vh;
    width: 8vh;
    height: 8vh;
    border-radius: 8px;
}

.galerie-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

#bouton-galerie:hover,
#bouton-deconnexion:hover {
    background-color: var(--palette-button-color-hover);
    box-shadow: var(--orange-neon-box);
}

.ingredients-selectionne {
    background-color: var(--palette-background-color);
    padding: 10px;
    margin: 10px;
    color: var(--palette-lighttext-color);
    border: 2px solid var(--palette-button-border-color);
    border-radius: 25px;
    cursor: pointer;
    font-style: italic;
}

.ingredients-selectionne:hover {
    color: var(--palette-lighttext-color);
    background-color: var(--palette-button-color-hover);
    box-shadow: var(--orange-neon-box);

    text-shadow: var(--neon-text-pink);
}

.conteneur-carte-cocktail {
    display: flex;
    overflow-x: auto;
    padding: 1em;
    white-space: nowrap;
    width: 95%;
    gap: 1.5em;
}

.scroll-item {
    flex: 0 0 auto;
    margin-right: 1em;
}
