<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="rule 1T" stopProcessing="true">
					<match url="(.*)"  />
					<action type="Rewrite" url="/routes.php"  appendQueryString="true" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
