body {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    height: 2em;
}

header,
footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    border-radius: 50px;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url("../images/sparkles.png") no-repeat center 25% / cover;
    font-size: 4vw;
    height: 50vh;
    text-shadow: 0 0 15px white;
}

img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

nav input {
    border: 0;
    border-radius: 15px;
    color: black;
    padding: 10px 0 10px 50px;
    box-shadow: #666 0 0 10px;
    outline: none;
    opacity: 80%;
    width: clamp(225px, 25%, 25%);
    background-image: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: x-large;
}

nav input:focus {
    box-shadow: black 0 0 10px;
    opacity: 1;
}

#gallery {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap);
    justify-content: center;
}

#gallery article {
    width: clamp(150px, 100%, 300px);
    height: clamp(300px, 500px, 500px);
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: #666 0 0 5px;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    line-height: 2em;
    font-weight: bold;
}


#gallery article>img {
    filter: grayscale(50%);
}

#gallery article:hover {
    transform: scale(1.05);
}

#gallery article:hover img {
    filter: none;
}
